@keyframes slideIn {
  0% {
    transform: translateX(-800px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-800px);
  }
}
